.root {
    -fx-background-image: url("../img/menu_background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 960 600;
    -fx-background-position: center center;
}

.button {
    -fx-background-color:   #2196F3;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 10px;
    -fx-min-width: 300px;
}